*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */ 
header .menuBar{
    width: 100%;
    height: 6vh;
    padding: 0 0 5px 0;
    background-color: #000;
}
header .menuBar ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 50px;
}
header .menuBar ul a{
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    font-size: 1.2em;
    margin: 0 10px 0 10px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}

/* content */
.content{
    color: #000;
    margin: 10px;
}
.content table{
    width: 100%;
}
.content table thead{
    height: 4vh;
}
tr, th{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    text-align: center;
}

/* short styles */
.fwbl{
    font-weight: bold;
}